@model IEnumerable<StatsMon.Models.SKUPurchase>

@{
    ViewBag.Title = "Forcast";
}
<h2>Forcast</h2>

<div ng-app="app" ng-controller="SkuPurchaseController as skuPurchaseController">    
        <table class="table" id="Pagenation Bar">
            <tr>
                <td>
                    <a href="" ng-click="skuPurchaseController.firstPage()">First</a>
                    |
                    <a href="" ng-click="skuPurchaseController.previousPage()">Previous</a>
                </td>
                <td style="text-align: center;">
                    Page:{{skuPurchaseController.page}}
                </td>
                <td style="text-align: right;">
                    <a href="" ng-click="skuPurchaseController.nextPage()">Next</a>
                    |
                    <a href="" ng-click="skuPurchaseController.lastPage()">Last</a>
                </td>
            </tr>
        </table>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PurchaseID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PurchaseDate)
                </th>
                <th></th>
            </tr>

            <tr ng-repeat="skuPurchase in skuPurchaseController.skuPurchases  | orderBy: 'Id' ">
                <td>
                    {{skuPurchase.Id}}
                </td>
                <td>
                    {{skuPurchase.PurchaseID}}
                </td>
                <td>
                    {{skuPurchase.Quantity}}
                </td>
                <td>
                    {{skuPurchase.PurchaseDate}}
                </td>
                <td>
                    <a href="" ng-click="skuPurchaseController.getSkuPurchase(skuPurchase)">Update Item</a> |
                    <a href="" ng-click="skuPurchaseController.deleteSkuPurchase(skuPurchase)">Delete Item</a>
                </td>
            </tr>
        </table>
</div>

@section Scripts {
    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/app/skuPurchaseController.js"></script>
}