@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Inventory Forcast</h1>
    <p class="lead">Inventory Forcst is a free web application for providing a simple dishboard for inventory and sales reporting.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>SKUs</h2>
        <p>This gives a view of all the business's SKUs and related information.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Home")">Go to &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Monthly Totals</h2>
        <p>This gives a view of the total monthy sales of each SKU.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "MonthlyTotals")">Go to &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Single Linear Forcast</h2>
        <p>This is the simplest forcast report, originally based on Excel's Forcast method.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "SingleLinearForcasts")">Learn more &raquo;</a></p>
    </div>
</div>